.home-container {
    padding: 20px;
    text-align: center;
}

.filter-container {
    margin-bottom: 20px;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    gap: 1em;
}

.home-container select {
    width: 100%;
    text-align: center;
    height: 5vh;
    background-color: black;
    border: none;
    border-radius: 10px;

}

.home-container select:hover {
    color: grey;
    cursor: pointer;
}